body{
    font-family: 'Poppins', sans-serif;
}
.ton{
    color: orange;
}
section{
    display:flex;
}
.half-width{
    width: 50%;
    padding: 60px 80px;
    margin-bottom: 30px;

}
.half-width img{
    width:80%;

}
.exa-shadow{
    border-left:5px solid;
    border-color:orangered;
    padding-left: 8px;

}
.btn{
    background-color: orangered;
    color:white;
    margin-top:40px
    text-align: center;
    padding:10px 15px;
    border:none;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}
.secnd-div{
    text-align: center;
}
.roy{
    color:yellow;
}
.nd-divi{
    text-align: center;
    text-decoration: none;
    border:none ;
    background-color: turquoise;
    border-radius: 6px;
    margin-left:60px;
    margin-right:200px;
    margin-bottom: 60px;

}
.nd-divi img{
    width:40%;
}
.container{
    margin-top: 100px;
}
.rd-divi{
    text-align: center;
    text-decoration: none;
    border:none ;
    padding:10px;
    background-color: rgb(245, 253, 174);
    border-radius: 6px;
    margin-left:10px;
    margin-right:70px;
    margin-bottom: 60px;

}
.rd-divi img{
    width:50%;
}
.th-divi{
    text-align: center;
    text-decoration: none;
    border:none ;
    padding:80px;
    background-color: rgb(245, 253, 174);
    border-radius: 6px;
    margin-left:80px;
    margin-right:100px;
    margin-bottom: 60px;

}
.th-divi img{
    width:80%;
}
.thard-divi{
    
}
.thard-divi img{
    width:400px;
    margin-left:70px;
    margin-bottom: 150px;
    border-radius:10px;
}
.jack{
    margin-top: 100px;
}
.rost{
    margin-left:30px;
    margin-bottom:130px;
    text-decoration: none;
    padding:100px 70px 50px;
}
.rtn{
    width:100px;
    height:30px;
}
.rtn img{
    width:200px;
    margin-top:80px;
    margin-left:80px;
}
.web-divi{
    display: flex;
    margin-top: 100px;

}
.rud{
    width:50%;
    padding:20px;
    margin-left:50px;
}
.rutted img{
    margin-left:30px;
    border-radius:10px;
    margin-right:150px;
}
.rute{
    width:100px;
    height:30px
}
.rute img{
    width:200px;
    margin-top:150px;
    margin-left:530px;
    margin-right:100px;
}
.rhman{
    color:Red;
}
.rubl{
    margin-top:150px;
    text-align:center;
}
.love img{
    width:250px;
    margin-left:70px;
}
.new-pc{
    width:50%;
}
.new-pc img{
    width:200px;
    margin-right:200px;
}
.raihan{
    margin-top:50px;
}
.bhost{
    margin-left:80px;
    margin-top:100px;
    margin-right:400px;
}
.footer{
    position: fiexd;
    left:0;
    bottom:0;
    padding:20px;
    width:100%;
    text-align: center;
    color:white;
    background-color:black;

}
